<h3>Pages</h3>
<!-- page_type, title, body, is_published -->
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</tr>
	</thead>
	<% @pages.each do |p| %>
	<tbody>
		<tr><% p.title %></tr>
		<tr><% p.body %></tr>
	</tbody>
	<% end %>
</table>
<%= link_to 'Add Page', new_admin_page_path %>