<h2>Getting Started</h2>

<p>In order to get the Home page up and running you must first publish the page</p>

<p>To execute run <code>rake db:seed</code></p>

<p>This will create an example page and a User Account with admin privileges</p>